@media screen and (max-width: 375px) {

    .main_container {
        width: 100%;
        flex-direction: column;
        overflow-x: hidden;
        justify-content: normal;
        padding: 0;
    }

    .main {
        flex-direction: column;
        width: 90%;
        margin: 20% 0;
        height: auto;
    }

    .main_hero_image {
        width: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .main_hero_information {
        margin: 20px 20px 10px 20px;
    }

    .main_hero_information_title__h1 {
        font-size: 15px;
        padding-right: 10px;
    }

    .main_hero_informaion_paragraph__p {
        line-height: 1.6;
        padding-right: 2.5px;
        font-size: 13px;
    }

    .main_hero_information_contact_share_container {
        position: absolute;
        left: -6.5%;
        bottom: -20%;
        height: 135%;
        border-radius: 0 0 10px 10px;
        width: 113%;
        background-color: var(--Very_Dark_Grayish_Blue);
    }

    .main_hero_information_contact_share_container::after {
        content: none;
    }

    .main_hero_information_contact_share_container_title {
        margin-left: 6%;
    }

    .main_hero_information_contact_share_container_socialmedia {
        margin-right: 34%;
    }

    .main_hero_information_contact_share {
        z-index: 1;
    }
}